@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "IndexUsers";
}

<div class="jumbotron">

    <h1 class="display-3 pb-4">Users</h1>

    <p class="pd-4">
        <a class="btn btn-lg btn-dark" href="/Identity/Account/Register">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="AddRoleToUser" asp-route-userId="@item.Id">Add role</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>