
@{
    ViewData["Title"] = "ErrorPage";
}

    <div class="jumbotron">

        <h1 class="display-3 pb-4">@ViewBag.ErrorMessage</h1>
        <a type="button" class="btn btn-outline-primary btn-lg" asp-action="index" asp-controller="quiz">Return to quizzes</a>

    </div>