@model IEnumerable<Quiztopia.Models.Difficulty>

@{
    ViewData["Title"] = "Index";
}

    <div class="jumbotron">

        <h1 class="display-3 pb-4">Difficulty</h1>

        <p class="pd-4">
            <a class="btn btn-lg btn-dark" asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="pt-4">
            <a class="btn btn-lg btn-dark" asp-controller="Quiz" asp-action="Index">Back to list</a>
        </p>
    </div>
