@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 class="display-3">Knowledge is</h1><h1 class="display-3 text-success">power</h1>
        <p class="lead">Hello intelligent creature, and welcome in the metropolis of quizzes! Welcome in Quiztopia !! </p>
        <hr class="my-4">
        <p>Do you want to test your kwowledge? Don't hesitate and sign up now!</p>
        <p class="lead">
            <a type="button" class="btn btn-outline-success" asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a type="button" class="btn btn-outline-success" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </p>
    </div>
