@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}


    <div class="jumbotron">

        <h1 class="display-3">Knowledge is</h1><h1 class="display-3 text-success">power</h1>
        <p class="lead">Welcome, intelligent creature, in the metropolis of quizzes. Welcome in Quiztopia</p>
        <hr class="my-4">
        <p>Do you want to test your knowledge? Don't hesitate and sign up now!</p>
        <p class="lead">
            <a type="button" class="btn btn-outline-dark btn-lg" asp-area="Identity" asp-page="/Account/Login" role="button">Login</a>
            <a type="button" class="btn btn-outline-primary btn-lg" asp-area="Identity" asp-page="/Account/Register" role="button">Register</a>
        </p>
    </div>

